goto_beginning gg
goto_end <end>
goto_end G

move_left h
move_right l

next_page <C-j>
previous_page <C-k>

screen_down d
screen_up u

next_chapter gc
prev_chapter gC

prev_state <C-o>
next_state <C-i>

new_window <C-t>

zoom_in  =
zoom_out -
fit_to_page_width 0

rotate_clockwise r
rotate_counterclockwise R

open_document o
open_document_embedded <C-o>
open_document_embedded_from_current_path <C-S-o>

move_visual_mark_up k
move_visual_mark_down j
move_visual_mark_up <up>
move_visual_mark_down <down>

search /
chapter_search c<C-f>
chapter_search c/

next_item n
previous_item N

add_bookmark b
delete_bookmark bd
goto_bookmark gb
goto_bookmark_g gB

add_highlight h
goto_highlight gh
goto_highlight_g gH
delete_highlight hd

goto_next_highlight gnh
goto_prev_highlight gNh

copy <C-c>
copy y

toggle_fullscreen <f11>

toggle_highlight <f1>

command :

external_search s
toggle_custom_color <C-d>

toggle_synctex <f4>
synctex_under_cursor S

toggle_mouse_drag_mode <f6>

toggle_visual_scroll <f7>

overview_definition l
goto_definition <C-]>
portal_to_definition ]

toggle_presentation_mode <f5>

open_link f

keyboard_select v

keyboard_smart_jump F

reload <C-r>
