reload <C-r>

toggle_custom_color <C-d>

goto_beginning gg
goto_end G
move_down j
move_up k
move_left h
move_right l
screen_down d
screen_up u
next_page <C-j>
previous_page <C-k>
next_chapter gc
prev_chapter gC
prev_state <C-o>
next_state <C-i>

zoom_in  =
zoom_out -
fit_to_page_width 0

rotate_clockwise r

new_window <C-t>

open_document_embedded o
open_document_embedded_from_current_path <C-S-o>

search /
external_search s

next_item n
previous_item N

copy <C-c>
copy y

toggle_highlight <f1>
toggle_presentation_mode <f5>
toggle_mouse_drag_mode <f6>
toggle_visual_scroll <f7>
toggle_fullscreen <f11>

command :

synctex_under_cursor S

overview_definition l
goto_definition <C-]>
portal_to_definition ]

open_link f

keyboard_select v

keyboard_smart_jump F
