"$schema" = "https://raw.githubusercontent.com/JanDeDobbeleer/oh-my-posh/main/themes/schema.json"
final_space = true
version = 3

[palette]
closer = "p:white"
red = "#d8647e"
purple = "#bb9dbd"
blue = "#6394b2"
green = "#7fa563"
yellow = "#f3be7c"
orange = "#e6917d"
white = "#cdcdcd"

[[blocks]]
alignment = "left"
type = "prompt"

  [[blocks.segments]]
  foreground = "p:blue"
  style = "plain"
  template = "{{ .Path }} "
  type = "path"

    [blocks.segments.properties]
    style = "full"


  [[blocks.segments]]
  foreground = "p:green"
  foreground_templates = [
  "{{ if or (.Working.Changed) (.Staging.Changed) }}p:yellow{{ end }}",
  "{{ if and (gt .Ahead 0) (gt .Behind 0) }}p:white{{ end }}",
  "{{ if gt .Ahead 0 }}p:purple{{ end }}",
  "{{ if gt .Behind 0 }}p:purple{{ end }}"
]
  template = """<p:white>on</> \
  {{ .HEAD }}\
  {{ if gt .Ahead 0 }} ↑{{ .Ahead }}{{ end }}\ 
  {{ if gt .Behind 0 }} ↓{{ .Behind }}{{ end }}\
  {{ if .Staging.Changed }}<p:orange>  {{ .Staging.String }}</>{{ end }}\
  {{ if and (.Working.Changed) (.Staging.Changed) }} |{{ end }}\
  {{ if .Working.Changed }}  {{ .Working.String }}{{ end }}\
  {{ if gt .StashCount 0 }}  {{ .StashCount }}{{ end }} """
  style = "accordion"
  type = "git"

    [blocks.segments.properties]
    fetch_stash_count = true
    fetch_status = true
    native_fallback = true

  [[blocks.segments]]
  type = "text"
  style = "plain"
  foreground = "p:blue"
  template = "{{ if .Env.NIX_SHELL }} {{ end }}"


[[blocks]]
alignment = "left"
newline = true
type = "prompt"

  [[blocks.segments]]
  type = "status"
  style = "plain"
  template = "{{ if eq .Code 0 }}<p:white></>{{ else }}<p:red></>{{ end }}"

    [blocks.segments.properties]
    always_enabled = true

